<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.bizlinked">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- For Map Profile -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".BizLinkedApplicationClass"
        android:icon="@mipmap/ic_bizlinked_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bizlinked_launcher_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppPrimaryTheme"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:windowSoftInputMode="stateHidden|adjustPan">

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="com.gun0912.tedpermission.TedPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission"
            tools:replace="android:screenOrientation"/>


        <!--  For Photo Crop and Edit -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppPrimaryTheme"/>


        <!-- For FireBase-->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_channel_id"-->
        <!--android:value="sample_channel"/>-->
        <!-- For FireBase-->



        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="@string/API_KEY"/>-->

        <!--For Map Class-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!--Google MAP API key-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD96TFPOVe6_3vJl6NzV0Zyi8G4eUvFdO0" />

        <!-- For Sentry -->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://863ee36b302b48e3824b333df7021e33@o469357.ingest.sentry.io/5498727" />

<!--        <meta-data-->
<!--            android:name="io.fabric.ApiKey"-->
<!--            android:value="331515ff26529095995acd7622f464335ab10881"/>-->



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>